@charset "utf-8";

/* リセット(これよくないから、ちゃんとしたリセットCSS読み込もう) */
* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  box-sizing: border-box;
}
/* ここまでリセット */

/* トップとナビゲーション */
nav {
  width: 100%;
  height: 80px;
  background-color: #007bc7;
  color: white;
  display: flex;
}
.top {
  height: 100%;
  width: 15%;
  padding: 0 24px;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 2rem;
}
.navMenu {
  height: 100%;
  width: 360px;
  align-items: center;
  margin-left: auto;
  padding: 0 24px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;
}
.responsiveNav {
  display: none;
}
.navMenu > li > a {
  width: 100%;
  text-decoration: none;
  color: #fff;
  text-align: center;
}
.navMenu > li:hover {
  font-size: 1.3rem;
  text-shadow: 0 0 5px #ffe800;
  transition: 0.1s;
}
/* ここまでトップとナビゲーション */

/* メインコンテンツ */
/* ヘッダー */
.header {
  width: 100%;
  height: 500px;
  background-image: url(./../img/LP_bgi.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
}
.header p {
  font-size: 3.5rem;
  text-shadow: 0 0 10px #ffe800;
  margin-bottom: 20px;
}
h1 {
  font-size: 2rem;
  text-shadow: 0 0 5px #333333;
}
.responsive_h1 {
  display: none;
}
/* ここまでヘッダー */

/* セクションの統一スタイル */
.section_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 45px 0;
}
.section_heading {
  color: #555;
}
.section_english_heading {
  font-size: 2rem;
}
/*要素の最初の文字だけを操作する方法*/
.section_english_heading:first-letter {
  color: #007bc7;
}
/* 見出しの下の横線 */
h2.section_english_heading::after {
  display: block;
  content: "";
  position: relative;
  width: 100%;
  border: 1px solid #007bc7;
}
.section_japanese_heading {
  font-size: 1.5rem;
  font-family: serif;
}
/* セクション見出し以下のコンテンツ */
.section_content {
  width: 100%;
  height: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
/* ここまでセクションの統一スタイル */

/* Profileセクション */
.profile {
  width: 100%;
  height: 560px;
}
.section_content > img {
  width: 350px;
  height: 350px;
}
table {
  font-size: 1.5rem;
  margin: 20px 20px;
}
th {
  text-align: right;
  vertical-align: top;
  padding: 10px 0;
}
td {
  text-align: left;
  padding: 10px 20px;
  display: block;
}
/* ここまでProfileセクション */

/* Self PRセクション */
.selfpr {
  width: 100%;
  height: 500px;
  background-image: url(./../img/SnowyMountainsInWinter.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.selfpr_list {
  height: 100%;
  width: 100%;
  margin: 0 15%;
  align-items: center;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.selfpr_list_items {
  height: 300px;
  width: 220px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border: 2px solid #fff;
}
.selfpr_list_items_heading {
  margin: 15px 0;
  font-size: 1.3rem;
  color: #007bc7;
}
.selfpr_list_items_paragraph {
  text-align: start;
  line-height: 1.7rem;
}
/* ここまでSelf PRセクション */

/* Visionセクション */
.vision {
  position: relative;
  width: 100%;
  height: 700px;
}
.vision > .section_content {
  flex-direction: column;
}
.vision > .section_content > h3 {
  font-size: 2rem;
  color: #007bc7;
  margin-bottom: 60px;
}
.vision > .section_content > p {
  font-size: 1.2rem;
  line-height: 2rem;
}
.vision_paragraph_1 {
  margin-bottom: 60px;
}
/* ここまでVisionセクション */

/* NEXT COMING SONN */
.next_coming_soon {
  font-size: 3.5rem;
  font-weight: bold;
  color: #007bc7;
  position: absolute;
  bottom: -18px;
}
/* ここまでNEXT COMING SONN */

/* ここまでメインコンテンツ */

/* フッター */
footer {
  width: 100%;
  height: 200px;
  background-color: #007bc7;
  position: relative;
}
footer > a {
  text-decoration: none;
}
.return_top_button {
  width: 200px;
  height: 80px;
  border: 5px solid #fff;
  font-size: 2rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.return_top_button:hover {
  font-size: 2.1rem;
  box-shadow: 0 0 5px #ffe800;
  text-shadow: 0 0 5px #ffe800;
  transition: 0.1s;
}
small {
  font-size: 1rem;
  color: #fff;
  position: absolute;
  bottom: 20px;
}
/* ここまでフッター */
